<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/abstract_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from abc import ABC,abstractmethod
class Mobile(ABC):
  def name(self):
    print('i am a mobile')

  @abstractmethod
  def category(self):
    pass


class Samsung(Mobile):
  def category(self):
    print('i am a samsung mobile')

class Apple(Mobile):
  def category(self):
    print('i am a apple mobile')

In [ ]:
obj = Samsung()
obj.name()
obj.category()

i am a mobile
i am a samsung mobile

In [ ]:
obj = Apple()
obj.name()
obj.category()

i am a mobile
i am a apple mobile

Abstraction

In [ ]:
from abc import ABC,abstractmethod
class Payment(ABC):
  def slip(self,amount):
    print('Purchase of amount->',amount)

  @abstractmethod
  def payment(self,amount):
    pass

class Card(Payment):
  def payment(self,amount):
    print('Credit Card Payment->',amount)

class Cash(Payment):
  def payment(self,amount):
    print('Cash on payment->',amount)

In [ ]:
obj=Card()
obj.payment(200)
obj.slip(200)
print(isinstance(obj,Payment))


obj=Cash()
obj.payment(200)
obj.slip(200)
print(isinstance(obj,Payment))

Credit Card Payment-> 200
Purchase of amount-> 200
True
Cash on payment-> 200
Purchase of amount-> 200
True

Interface

In [ ]:
class Chip:
  def model(self):
    print('Qualcomm Snapdragon')

class Camera:
  def model(self):
    print('sony')

class Display:
  def model(self):
    print('LED')  


class Samsung:
  def invoke(self,obj):
    obj.model()

In [ ]:
s= Samsung()
obj=Chip()
s.invoke(obj)
obj=Camera()
s.invoke(obj)
obj=Display()
s.invoke(obj)

Qualcomm Snapdragon
sony
LED

Class Object

In [ ]:
class Rectangle:
  pass

In [ ]:
r1= Rectangle()
r2= Rectangle()

r1.height=20
r2.height=30

r1.width=10
r2.width=20

print(r1.height*r1.width)
print(r2.height*r2.width)

200
600

Composition

In [ ]:
class Salary:
  def __init__(self,pay,bonus):
    self.pay=pay
    self.bonus=bonus
  def annual_salary(self):
    return(self.pay*12)+self.bonus

class Employee:
  def __init__(self,name,age,pay,bonus):
    self.name=name
    self.age=age
    self.obj=Salary(pay,bonus)

  def total_salary(self):
    return self.obj.annual_salary()

In [ ]:
e=Employee('anik',22,20000,10000)
print(e.total_salary())

250000

Aggregation

In [ ]:
class Salary:
  def __init__(self,pay,bonus):
    self.pay=pay
    self.bonus=bonus
  def annual_salary(self):
    return(self.pay*12)+self.bonus

class Employee:
  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.obj=salary

  def total_salary(self):
    return self.obj.annual_salary()

In [ ]:
s=Salary(20000,15000)
e=Employee('anik',22,s)
print(e.total_salary())

255000