<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/B1_18101070_CT_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input("Enter a number->"))
sum = 0
for i in range(1, n+1, 2):
  if i==n:
    print(i,end=" ")
  else:
    print(i,"+",end=" ") 
  sum = sum+i
print("=",sum)

Enter a number->9
1 + 3 + 5 + 7 + 9 = 25

In [ ]:
d={
    "d1":{
    "ID":"1",
    "First Name":"Peter",
    "Last Name":"Lee",
    "Email":"plee@university.edu",
    "Year of Birth":"1992"
    },
    "d2":{
    "ID":"2",
    "First Name":"Jonathan",
    "Last Name":"Edwards",
    "Email":"jedwards@university.edu",
    "Year of Birth":"1994"
    },
    "d3":{
    "ID":"3",
    "First Name":"Marilyn",
    "Last Name":"Johnson",
    "Email":"mjohnson@university.edu",
    "Year of Birth":"1993"
    },
    "d4":{
      "ID":"4",
      "First Name":"Joe",
      "Last Name":"Kim",
      "Email":"jkim@university.edu",
      "Year of Birth":"1992"
    }  
}
for i in d:
  print(d[i]["First Name"],end=" ")
  print(d[i]["Last Name"])

Peter Lee
Jonathan Edwards
Marilyn Johnson
Joe Kim