<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/B1_CT_4_18101070.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class employee:
  def __init__(self,id,name,dept,pos,man,lev):
    self.id=id
    self.name=name
    self.dept=dept
    self.pos=pos
    self.man=man
    self.lev=lev

  def display(self):
    print("Employee information-> \n Id: %s \n Name:%s \n dpartment:%s \n Position:%s \n Manager:%s \n Level:%s"%(self.id,self.name,self.dept,self.pos,self.man,self.lev))
    
e1=employee("1","David","Manager","IT","NULL","1")
e2=employee("4","Julia","Manager","HR","NULL","1")
e3=employee("8","Sophie","Manager","Marketing","NULL","1")

e1.display()
e2.display()
e3.display()

Employee information->
 Id: 1
 Name:David
 dpartment:Manager
 Position:IT
 Manager:NULL
 Level:1
Employee information->
 Id: 4
 Name:Julia
 dpartment:Manager
 Position:HR
 Manager:NULL
 Level:1
Employee information->
 Id: 8
 Name:Sophie
 dpartment:Manager
 Position:Marketing
 Manager:NULL
 Level:1

In [ ]:
class bank:
  def __init__(self,name,acn,balance,):
    self.name=name
    self.acn=acn
    self.balance=balance

  def deposit(self):
    amount=float(input("Enter amount->"))
    self.balance+=amount
    print("Deposit Amount->",amount)

  def withdraw(self): 
     amount=float(input("Enter amount for withdraw->")) 
     if self.balance >=amount: 
        self.balance -=amount 
        print("Withdrew->", amount) 
     else: 
        print("No Money") 
  
  def show(self): 
     print("Balance->",self.balance) 

u=bank('anik','707',500)

u.diposit(500)
u.withdraw(100)
u.show()

In [ ]:
from math import log10
def func(n):
    sum=0
    for i in range(1,n+1) :
        sum+=log10(i)
    return sum
n=int(input("Enter the number->"))
res=func(n)
print("Summation->",round(res))

Enter the number->5
Summation-> 2