<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/B1_CT_2_18101070.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 a=float(input())
 b=float(input())
 c=float(input())
 if a<=b and a<=c:
  print("Output:",round(a))
 if b<=a and b<=c:
     print("Output:",round(b))
 if c<=a and c<=b:
     print("Output:",round(c))

10
20
5
Output: 5

In [ ]:
n=float(input("Enter marks->"))
if n>=80 and n<=100:
  print("A+")
elif n>=75 and n<=79:
  print("A")
elif n>=70 and n<=74:
  print("A-")
elif n>=65 and n<=69:
  print("B+")
elif n>=60 and n<=64:
  print("B")  
elif n>=55 and n<=59:
   print("B-")
elif n>=50 and n<=54:
  print("C+")
elif n>=45 and n<=49: 
  print("C")
elif n>=40 and n<=44:
  print("D")
else:
  print("Fail")

Enter marks->74
A-

In [ ]:
a=input("Element 1->")
b=input("Element 2->")
c=input("Element 3->")
d=input("Element 4->")
e=input("Element 5->")

n=int(input("Index 1->"))
m=int(input("Index 2->"))

list=[a,b,c,d,e]

temp=list[n]
list[n]=list[m]
list[m]=temp

print(list)

Element 1->10
Element 2->5
Element 3->100
Element 4->4
Element 5->6
Index 1->2
Index 2->4
[10, 5, 6, 4, 100]

In [ ]:
d={    
  "d1":{
      "EmpID":"77920",
      "LastName":"Jackson",
      "FirstName":"Stephen",
      "HireDate":"11-29-1997"
     },
   "d2":{
    "EmpID":"77921",
    "LastName":"Reynolds",
    "FirstName":"Sandy",
    "HireDate":"01-04-1993"
    },
   "d3":{
    "EmpID":"77922",
    "LastName":"Armstrong",
    "FirstName":"Stephen",
    "HireDate":"09-16-1989"
    },
   "d4":{
    "EmpID":"77823",
    "LastName":"Jackson",
    "FirstName":"Linda",
    "HireDate":"10-09-1996"
    }
}

print(d)
print(d["d1"])
print(d["d2"])
print(d["d3"])
print(d["d4"])

{'d1': {'EmpID': '77920', 'LastName': 'Jackson', 'FirstName': 'Stephen', 'HireDate': '11-29-1997'}, 'd2': {'EmpID': '77921', 'LastName': 'Reynolds', 'FirstName': 'Sandy', 'HireDate': '01-04-1993'}, 'd3': {'EmpID': '77922', 'LastName': 'Armstrong', 'FirstName': 'Stephen', 'HireDate': '09-16-1989'}, 'd4': {'EmpID': '77823', 'LastName': 'Jackson', 'FirstName': 'Linda', 'HireDate': '10-09-1996'}}
{'EmpID': '77920', 'LastName': 'Jackson', 'FirstName': 'Stephen', 'HireDate': '11-29-1997'}
{'EmpID': '77921', 'LastName': 'Reynolds', 'FirstName': 'Sandy', 'HireDate': '01-04-1993'}
{'EmpID': '77922', 'LastName': 'Armstrong', 'FirstName': 'Stephen', 'HireDate': '09-16-1989'}
{'EmpID': '77823', 'LastName': 'Jackson', 'FirstName': 'Linda', 'HireDate': '10-09-1996'}