<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function

In [8]:
#Creating a Function
def Fun():
  print("Welcome to function")
#Calling a Function
Fun()

Welcome to function

In [13]:
#Information can be passed into functions as arguments
#passing a arguments
def Fun(id):
  print("UAP " + id)
Fun("18101070")

#passing a parameter
l1 = ["Anik","18101070","CSE"]
def Info(l):
  print("Information->",l)

Info(l1)

UAP 18101070
Information-> ['Anik', '18101070', 'CSE']

In [19]:
#Multiple Argument passing 
def Sub(a=0,b=0):
  s=a-b
  return s
#Sub(4,6)
#Sub(5)
Sub()

0

In [28]:
#Arbitrary Arguments, *args
def func(*id):
 print("Id is->"+id[1])

func("CSE","EEE","ME")

Id is->EEE

In [29]:
#Keyword Arguments
def func(f1,f2,f3):
 print("Id is->",f1,f2,f3)

func(f1='A',f2='B',f3='C')

Id is-> A B C

In [30]:
#Arbitrary Keyword Arguments, **kwargs

def func(**name):
 print("Name is",name)

func(fname="Anik",lname="Das")

Name is {'fname': 'Anik', 'lname': 'Das'}

In [31]:
#Default Parameter Value

def func(city="Dhaka"):
 print("My city is->"+city)

func("Narayanganj")
func("Gazipur")
func()

My city is->Narayanganj
My city is->Gazipur
My city is->Dhaka

In [34]:
#Passing a List as an Argument
def func(li):
 for i in li:
  print(i)

li=["CSE","EEE","ME"]
func(li)

CSE
EEE
ME

In [35]:
#Return Values
def func(x):
 return 5*x

print(func(3))
print(func(3))
print(func(3))

15
15
15

In [36]:
#The pass Statement
def myfunction():
  pass

In [38]:
#Problem find a even or odd number
def Even_ODD(n):
  if (i%2==0):
    print("Even number")
  else:
    print("Odd number")

n = int(input("Enter a number->"))
Even_ODD(n)

Enter a number->4
Even number

In [42]:
#Swap number
def swap(n,m):
 temp=n
 n=m
 m=temp
 print("After Swapping two Number: n = {0} and m = {1}".format(n, m))

a =int(input("Enter a number->"))
b =int(input("Enter a number->"))
print("Before Swapping two Number: a = {0} and b = {1}".format(a, b))
swap(a,b)

Enter a number->5
Enter a number->7
Before Swapping two Number: a = 5 and b = 7
After Swapping two Number: n = 7 and m = 5

In [2]:
#Example-1

l1 = [100,200,300]
l2 = [344,555,333]

# t = 0
# for i in l1:
#   t = t+i;
# print("Total cost l1->",t)  

def Total(l):
  t = 0
  for i in l:
    t = t+i
  return t

l1_cost = Total(l1) 
l2_cost = Total(l2)

print("Total cost l1->",l1_cost)
print("Total cost l2->",l2_cost)

Total cost l1-> 600
Total cost l2-> 1232

In [5]:
#Example-2

def Sum(a=0,b=0):
  s=a+b
  return s

n = int(input("Enter 1st number->")) 
m = int(input("Enter 2nd number->"))

r = Sum(n,m)

print("Result:",r)

Enter 1st number->0
Enter 2nd number->0
Result: 0

Lambda Function
(A lambda function is a small anonymous function.)

In [47]:
#Example

x = lambda a:a+10
print(x(5))

a = lambda n,m:n*m
print(a(5,5))

b = lambda a,b,c:a+b+c
print(b(2,2,2))

def fun(n):
  return lambda a:a*n

x = fun(5)
print(x(5))

15
25
6
25