<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
s = "Python"  
for i in s:  
    print(i)

P
y
t
h
o
n

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]  
n = int(input("Enter a number->"))  
for i in l:  
  c = n*i  
  print(c)

Enter a number->6
6
12
18
24
30
36
42
48
54
60

In [ ]:
for i in range(1,11):  
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
n = int(input("Enter the number->"))  
for i in range(1,11):  
    c = n*i  
    print(n,"*",i,"=",c)

Enter the number->5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
n = int(input("Enter the number->"))  
for i in range(0,n,2):  
    print(i)

Enter the number->11
0
2
4
6
8
10

In [ ]:
n = int(input("Enter the number->"))  
for i in range(1,n,2):  
    print(i)

Enter the number->10
1
3
5
7
9

In [ ]:
r = int(input("Enter the number->"))
for i in range(0,r+1):
  for j in range(i):
    print("@",end=" ")
  print("")

Enter the row->5

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @

In [ ]:
r = int(input("Enter the number->"))  
for i in range(0,r+1):  
  for j in range(i):  
    print(i,end = '')  
  print()

Enter the number->5

1
22
333
4444
55555

In [ ]:
l = [120,110,230,550,440,50,]
t=0
for i in l:
  t = t+i
print("cost->",t)

cost-> 1500

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  print(i*i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
l = [120,110,230,550,440,50,]
t=0
for i in range(len(l)): #for i in range(0,5):
  print('Cost->',(i+1),'List->',l[i])
  t = t+l[i]
print("Total cost->",t)

Cost-> 1 List-> 120
Cost-> 2 List-> 110
Cost-> 3 List-> 230
Cost-> 4 List-> 550
Cost-> 5 List-> 440
Cost-> 6 List-> 50
Total cost-> 1500

In [ ]:
key_location = "chair"
locations = ['garage','living room','chair','closet']
for i in locations:
  if i==key_location:
    print("key is found in ",i)
    break;
  else:
    print("Not Found ",i)

Not Found  garage
Not Found  living room
key is found in  chair

In [ ]:
key_location = "chair"
locations = ['garage','living room','chair','closet']
for i in locations:
  if i==key_location:
    print("key is found in ",i)
    continue;
  else:
    print("Not Found ",i)

Not Found  garage
Not Found  living room
key is found in  chair
Not Found  closet

In [ ]:
for i in range(1,6):
  if i%2==0:
    continue;
  print(i*i)

1
9
25

In [ ]:
i=1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5