<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/Numbers_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2 + 2

In [ ]:
50 - 5*6

In [ ]:
(50-5*6)/4

In [ ]:
8/5 #division always returns a floating point number,
#classic division returns a float

In [ ]:
17 // 3  # floor division discards the fractional part

In [ ]:
17 % 3  # the % operator returns the remainder of the division

In [ ]:
5 * 3 + 2  # floored quotient * divisor + remainder

Variables

Python Numbers:
int,
float,
complex

In [ ]:
#Integers:

x = 70
y = 35656222554887711
z = -70

print(type(x))
print(type(y))
print(type(z))

print(x)
print(y)
print(z)

<class 'int'>
<class 'int'>
<class 'int'>
70
35656222554887711
-70

In [ ]:
#Floats:

x = 70.00
y = 1.0
z = -70.07
e = -87.7e100

print(type(x))
print(type(y))
print(type(z))
print(type(e))

print(x)
print(y)
print(z)
print(e)

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
70.0
1.0
-70.07
-8.77e+101

In [ ]:
#Complex:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

print(x)
print(y)
print(z)

<class 'complex'>
<class 'complex'>
<class 'complex'>
(3+5j)
5j
(-0-5j)

In [ ]:
#Convert from one type to another:

x = 70    # int
y = 70.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

70.0
70
(70+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#Random Number

import random
print(random.randrange(1,100))

22

Exercise

In [ ]:
a = 10+10
b = 20-10
c = 10*10
d = 100/10 #division always returns a floating point number,
#classic division returns a float
e = 11%2
#
f = 17 // 3  # floor division discards the fractional part

g = 4**2

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

20
10
100
10.0
1
16

In [ ]:
#Now some advanced case
2+2
(50-5*6)/4

5.0

In [ ]:
a = 50-5*6
print(a)
b = (50-2)*6
print(b)
c = (50-5*6)/4
print(c)

In [ ]:
dhaka = 120
khulna = 220
total_dis = dhaka + khulna
print(total_dis)

340

In [ ]:
speed = 65
time = total_dis/speed
print(time)
round(time,3)

5.230769230769231

5.231

In [ ]:
round((6-5.7),2)

0.3