<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/Python5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class car:  
    def __init__(self,name, year,price):  
        self.name = name  
        self.year = year
        self.price = price  
    def display(self):  
        print(self.name,self.year,self.price)  
  
c1 = car("Toyota", 2016,2000000)  
c1.display()

Toyota 2016 2000000

In [ ]:
class student:
	name="Anik"
	id="70"
	def show(self):
		print("Name->:%s\n Id->:%s"%(self.name,self.id))


s1=student()
s1.show()

Name->:Anik
 Id->:70

In [ ]:
class student:
	name="Anik"
	id="70"
	cgpa="3.60"
	def show(self):
		print("Name->:%s\n Id->:%s\n CGPA->:%s"%(self.name,self.id,self.cgpa))

s1=student()
del s1.id
s1.show()

AttributeError: ignored

In [ ]:
class student:
	count=0
	def __init__(self):
		student.count=student.count+1

s1=student()
s2=student()
s3=student()
s4=student()
s5=student()

print("Number of objects->",student.count)

Number of objects-> 5

In [ ]:
class student:
   def __init__(self,name,id,dept):
   	self.name=name
   	self.id=id
   	self.dept=dept

  
s1=student("Anik",71,"CSE")

print(getattr(s1,'name'))

setattr(s1,'id',70)

print(getattr(s1,'id'))

print(hasattr(s1,'id'))

delattr(s1,'id')

print(s1,id)

Anik
70
True
<__main__.student object at 0x7fb3aba552e8> <built-in function id>

In [ ]:
class UAP:
	def teacher(self):
		print("Teacher")

class student(UAP):
    def stu(self):
       print("Student")

u=student()
u.teacher()
u.stu()

Teacher
Student

In [ ]:
class animal:
	def speak(self):
		print("Animal speaking")


class dog(animal):
	def brak(self):
		print("Dog braking")

class dog1(dog):
	def ma(self):
		print("Eating mutton")

a=dog1()
a.speak()
a.brak()
a.ma()

Animal speaking
Dog braking
Eating mutton

In [ ]:
class cal:
	def add(self,a,b):
		return a+b

class cal2:
    def sub(self,a,b):
        return a-b;

class derived(cal,cal2):
	def mul(self,a,b):
		return a*b

n=derived()
print(n.add(10,20))
print(n.sub(20,15))
print(n.mul(10,10))

30
5
100

In [ ]:
class cal:
	def add(self,a,b):
		return a+b

class cal2:
    def sub(self,a,b):
        return a-b;

class derived(cal,cal2):
	def mul(self,a,b):
		return a*b

n=derived()
print(issubclass(derived,cal2))
print(issubclass(cal,cal2))

True
False

In [ ]:
class cal:
	def add(self,a,b):
		return a+b

class cal2:
    def sub(self,a,b):
        return a-b;

class derived(cal,cal2):
	def mul(self,a,b):
		return a*b

n=derived()
print(isinstance(n,derived))
print(isinstance(n,cal))

True
True

In [ ]:
class animal:
	def eat(self):
		print("Fish")

class cat(animal):
    def eat(self):
        print("Mutton")

c=cat()
c.eat()

Mutton

In [ ]:
class bank:
	def add(self):
		return 100;

class DBB(bank):
    def add(self):
       return 70;

class IFIC(bank):
    def add(self):
       return 80;        		

b1=bank()
b2=DBB()
b3=IFIC()

print("Bank amount->",b1.add())
print("DBB amount->",b2.add())
print("IFIC amount->",b3.add())

Bank amount-> 100
DBB amount-> 70
IFIC amount-> 80

In [ ]:
class employee:
	 def __init__(self,name,sal):
	 	self.name=name
	 	self.__sal=sal

	 def show(self):
	    print("Name:%s\n Salary:%s "%(self.name,self.sal)) 	

e=employee("Anik","45000")
e.show()

AttributeError: ignored

In [ ]:
from tkinter import*
top=Tk()
top.mainloop()

TclError: ignored

In [ ]:
class Song:
	def __init__(self,title,artist,album,track_number):
		self.title=title
		self.artist=artist
		self.album=album
		self.track_number=track_number

		artist.add_song(self)

class Album:
    def __init__(self,title,artist,year):
       self.title=title
       self.artist=artist
       self.year=year

       self.tarck =[]	
       artist.add_album(self)

    def add_tarck(self,title,artist=none):
    	if artist is none:
    		artist=self.artist

      track_number=len(self.tarck)
        
      song=Song(title,artist,self,track_number)

      self.tarck.append(song)

class Artist:
	def __init__(self,name):
		self.name=name
		self.albums=[]
		self.songs=[]

    def add_album(self,album):
    	self.albums.append(album)

    def add_song(self,song):
        self.songs.append(song)

class Playlist:
	def __init__(self,name):
		self.name=name
		self.songs=[]

	def add_song(self,song):
	    self.songs.append(song)	


band=Artist("Artcell")
album=Album("Poth Chola",band,2008)
album.add_tarck("Poth Chola")
album.add_tarck("Oniket Pranthor")
album.add_tarck("Tomake")
album.add_tarck("Doshor somoy")
album.add_tarck("Ei bidayee")

playlist=Playlist("Favourite Songs")

for i in album.tarck:
	playlist.add_song(song)

IndentationError: ignored

In [ ]:
class Song:

    def __init__(self, title, artist, album, track_number):
        self.title = title
        self.artist = artist
        self.album = album
        self.track_number = track_number

        artist.add_song(self)


class Album:

    def __init__(self, title, artist, year):
        self.title = title
        self.artist = artist
        self.year = year

        self.tracks = []

        artist.add_album(self)

    def add_track(self, title, artist=None):
        if artist is None:
            artist = self.artist

        track_number = len(self.tracks)

        song = Song(title, artist, self, track_number)

        self.tracks.append(song)


class Artist:
    def __init__(self, name):
        self.name = name

        self.albums = []
        self.songs = []

    def add_album(self, album):
        self.albums.append(album)

    def add_song(self, song):
        self.songs.append(song)


class Playlist:
    def __init__(self, name):
        self.name = name
        self.songs = []

    def add_song(self, song):
        self.songs.append(song)

band = Artist("Bob's Awesome Band")
album = Album("Bob's First Single", band, 2013)
album.add_track("A Ballad about Cheese")
album.add_track("A Ballad about Cheese (dance remix)")
album.add_track("A Third Song to Use Up the Rest of the Space")

playlist = Playlist("My Favourite Songs")

for song in album.tracks:
    playlist.add_song(song)