<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/Python_Basic_Lesson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numbers

In [ ]:
2 + 2

In [ ]:
50 - 5*6

In [ ]:
(50-5*6)/4

In [ ]:
8/5 #division always returns a floating point number,
#classic division returns a float

In [ ]:
17 // 3  # floor division discards the fractional part

In [ ]:
17 % 3  # the % operator returns the remainder of the division

In [ ]:
5 * 3 + 2  # floored quotient * divisor + remainder

Variables

In [ ]:
width = 20  #  width variable contains 20

In [ ]:
height = 5 * 9

In [ ]:
width * height   #obtain reusability of height expression

In [ ]:
width = 30 #casecade previous value 20

In [ ]:
n  # try to access an undefined variable

In [ ]:
multiple_word_variable = None  # underscore separated multiple word variable

Numbers and variables

In [ ]:
#Python Numbers: int, float, complex,randorm

#Integers:
x = 70
print(type(x))
print(x)

#Floats:
x = -70.07
print(type(x))
print(x)

#Complex:
x = 3+5j
print(type(x))
print(x)

#Random Number
import random
print(random.randrange(1,100))

In [ ]:
#Convert from one type to another:

x = 70    # int
y = 70.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [ ]:
s1="Anik"
s2="UAP"
s3= 70
print("Info->",s1,s2,s3)

#Type casting
x = str(70)
y = int(3.50)
z = float(4)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

String

In [ ]:
#declared a string
a = "Python"
print(a)

In [ ]:
#Array of String
a = "Python"
print(a[5])

In [ ]:
for i in 'Python':
  print(i)

In [ ]:
#Length of String
a = "Python"
print(len(a))

In [ ]:
#Check String
a = 'Welcome to Python programming language..!'
c = "Python" in a;
print(c)

In [ ]:
#Check String
a = 'Welcome to Python programming language..!'
if "Python" in a:
  print("YES")
else:
  print("NO")

In [ ]:
#Check if NOT
a = 'Welcome to Python programming language..!'
c = "JavaScript" not in a;
print(c)

In [ ]:
#Check String
a = 'Welcome to Python programming language..!'
if "Python" not in a:
  print("YES")
else:
  print("NO")

In [ ]:
#String slicing with indexing

'''
...  +---+---+---+---+---+---+
...  | P | y | t | h | o | n |
...  +---+---+---+---+---+---+
...  0   1   2   3   4   5   6
... -7  -6  -5  -4  -3  -2  -1
'''
v = 'Hello World'
v[0:5]  #  divide the string from index 0 to 4
v[0::2]  #  extract all the odd character
v[-1::-1]  #  reverse the string


s = "ice cream"
s[0]
s[0:3] #s[:3]
s[4:9] #s[4:]

b = "Python"
print(b[-5:-2])

In [ ]:
#Method of string
a = "Python"
print(a.upper())

a = "PYTHON"
print(a.lower())

#Remove Whitespace

a = "Python is a popular language!  "
print(a.strip())

a  = "Anik Das"
print(a.replace('D','d'))


#String Concatenation

a = "UAP"
b = "CSE"

c= a+ " " +b
print(c)

In [ ]:
#Format - Strings
id = 70
msg = "My id is-> {}"
print(msg.format(id))

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

Some String Methodology

In [ ]:
'spam eggs'  # single quotes

In [ ]:
'doesn\'t'  # use \' to escape the single quote...

In [ ]:
"doesn't"  # ...or use double quotes instead

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline
print(s)  # with print(), \n produces a new line

In [ ]:
random_text = '''Multiline text
... Another line. Don’t need escape quote'''
print(random_text)

In [ ]:
s = 'First line.\nSecond line.'
r = s + '\nThird line'
print(r)
s[0]

s[0] = 'f'  # Can we do this.

 s[-1]  #  Last char of s string

In [ ]:
dir(str)

In [ ]:
help(str.join)

Data Structures : List

In [ ]:
#create a list
squares = [1, 4, 9, 16, 25]
squares

In [2]:
#concanate a list
squares + [36, 49, 64, 81, 100]

food = ['bread','pasta','fruits']
car = ['BMW','AUDI','VOLVO']
l = food+car
print(l)

In [ ]:
#We can modify list element
cubes = [1, 8, 27, 65, 125]  # something's wrong here
#4 ** 3  # the cube of 4 is 64, not 65!
# 64
cubes[3] = 64  # replace the wrong value
cubes

In [ ]:
x = [['a', 'b', 'c'], [1, 2, 3]]  #  nested list
x[0]
x[0][1]
x[1][3]

In [ ]:
#Access List Items 0 to 5
l = ["CSE","EEE","ME","TE","IPE","BBA"]
print(l[1])
print(l[-1]) #Negative Indexing
print(l[2:5]) #Range of Indexes
print(l[2:])
print(l[:4])
print(l[-3:-2])

In [ ]:
#Change List Items
l = ["CSE","EEE","ME","TE","IPE","BBA"]
l[3]="Pharmacy"
print(l)

l.insert(4,"TE")
print(l)

l.append("LAW")
print(l)

In [ ]:
#Remove List Items
l = ["UAP","DIU","AIUB","UIU","NSU","IUB"]
l.remove("UAP")
print(l)

l1 = ["UAP","DIU","AIUB","UIU","NSU","IUB"]
l1.pop() #pop() Remove the last item
print(l1)

l2 = ["UAP","DIU","AIUB","UIU","NSU","IUB"]
del l2[0] #del() Remove the first item
print(l2)

l3 = ["UAP","DIU","AIUB","UIU","NSU","IUB"]
l3.clear()
print(l3)

In [ ]:
#Loop Lists
l = ["CSE","EEE","ME","TE","IPE","BBA"]
for i in l:
  print(i)

l1 = ["CSE","EEE","ME","TE","IPE","BBA"]
for i in range(len(l1)):
  print(l[i])

In [ ]:
#  list comprehensions
l = ["CSE","EEE","ME","TE","IPE","BBA"]
new = []

for i in l:
  if 'E' in i:
    new.append(i)

print(new)

squares = []
squares = [x**2 for x in range(10)]
squares

#  nested list comprehensions
matrix = [
         [1, 2, 3, 4],
         [5, 6, 7, 8],
         [9, 10, 11, 12],
         ]
[[row[i] for row in matrix] for i in range(4)]

In [ ]:
#Sort Lists
l = ["CSE","EEE","ME","TE","IPE","BBA"]
l.sort()
print(l)

l1 = [100, 50, 65, 82, 23]
l1.sort()
print(l1)

l2 = [100, 50, 65, 82, 23]
l2.sort(reverse = True)
print(l2)

l3 = ["CSE","EEE","ME","TE","IPE","BBA"]
l3.reverse()
print(l3)

In [ ]:
#List zip() method
istOne = [1,2,3]
listTwo = [4,5,6]
listThree = zip(listOne,listTwo)
listThree
# <zip object at 0x7fcdb6964040>
listThree = list(listThree)
listThree

Data Structures:Tuple

In [ ]:
#create a tuple
t1=("CSE","EEE","ME","IPE","CE","SWE")
t2=("CSE",1,"EEE",2)
t3=1,2,3,4,5
print("Tuple->",t1)
print("Tuple->",t2)
print("Tuple->",t3)

#what is tuple
t1=("Anik",)
print(type(t1))

t=("Das")
print(type(t))

In [ ]:
#create a tuple
t = 12345, 54321, 'hello!'
t[0]

t = (12345, 54321, 'hello!')
t

# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

# Tuples are immutable:
t[0] = 88888

# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

In [ ]:
#show that duplicates have been removed
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

In [ ]:
# fast membership testing
'orange' in basket

In [ ]:
#Check any item in tuple:

t=("CSE","EEE","ME","IPE","CE","SWE")
if "ME" in t:
  print("YES")
else:
  print("NO")

In [ ]:
t=(1,2,3,4,5,6,7)
# print(t[0:])
#print(t[:])
#print(t[2:4])
#print(t[:4])
#print(t[0:6:2])

t=("CSE","EEE","ME","IPE","CE","SWE")
r=t[-4:-1]
print("Range Item Negative->",r)

In [ ]:
#Tuple item change by list:
t=("CSE","EEE","ME","IPE","CE","SWE")
l=list(t)
l[3]="TE"
t=tuple(l)
print("Tuple is->",t)

In [ ]:
#Tuple count()  method:
t=(1,2,3,4,5,6,7,7,6,4,3,2,2,2,2,2)
c=t.count(2)
print("total->",c)

Data Structures:Sets

In [4]:
#Python Set Operations

#Union of two Sets
s1 = {1,2,3,4,5}
s2 = {5,6,7}
print(s1|s2 )
# print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

In [5]:
#Intersection of two sets
s1 = {1,2,3,4,5}
s2 = {5,6,7}
print(s1&s2)
#print(s1.intersection(s2))

{5}

In [6]:
#Difference between the two sets
s1 = {1,2,3,4,5,6,7}  
s2 = {1,2,20,32,5,9} 
print(s1-s2)
#print(s1.difference(s2))

{3, 4, 6, 7}

In [8]:
#Symmetric Difference of two sets
s1 = {1,2,3,4,5,6}  
s2 = {1,2,9,8,10}  
print(s1^s2)
#print(s1.symmetric_difference(s2))

{3, 4, 5, 6, 8, 9, 10}

In [ ]:
#Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')
a

In [12]:
#Set comparisons
s1 = {"CSE","EEE","ME","TE","CE"}
s2 = {"ME","TE","CE"}
s3 = {"CE","BBA","ARC"}

#s1 is the superset of s2 hence it will print true.
print(s1>s2)

#prints false since s1 is not the subset of s2     
print(s1<s2)    
    
#prints false since s2 and s3 are not equivalent     
print(s2==s3)

True
False
False

In [15]:
#FrozenSets
#The frozen sets are the immutable form of the normal sets
F = frozenset([1,2,3,4,5])     
print(type(F))    
print("\nThe content of frozen set:")    
for i in F:    
    print(i);    
# Frozenset.add(6)

<class 'frozenset'>

The content of frozen set:
1
2
3
4
5