<a href="https://colab.research.google.com/github/Void-Brain70/Python/blob/master/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

In [1]:
#Create a Tuple:
t1=("CSE","EEE","ME","IPE","CE","SWE")
t2=("CSE",1,"EEE",2)
t3=1,2,3,4,5
print("Tuple->",t1)
print("Tuple->",t2)
print("Tuple->",t3)

Tuple-> ('CSE', 'EEE', 'ME', 'IPE', 'CE', 'SWE')
Tuple-> ('CSE', 1, 'EEE', 2)
Tuple-> (1, 2, 3, 4, 5)

In [2]:
#One item tuple
t1=("Anik",)
print(type(t1))

#is not a tuple
t=("Das")
print(type(t))

<class 'tuple'>
<class 'str'>

In [6]:
#Tuple Indexing:
t=("CSE","EEE","ME","IPE","CE","SWE")
i = t[3]
i = t[3:4]
print("Index item->",i)

t1=("CSE","EEE","ME","IPE","CE","SWE")
i=t1[-3]
print("Negative index->",i)

Index item-> ('IPE',)
Negative index-> IPE

In [7]:
#Tuple Range:
t=("CSE","EEE","ME","IPE","CE","SWE")
r=t[2:5]
print("Range Item->",r)

Range Item-> ('ME', 'IPE', 'CE')

In [17]:
t=(1,2,3,4,5,6,7)
# print(t[0:])
#print(t[:])
#print(t[2:4])
#print(t[:4])
#print(t[0:6:2])

t=("CSE","EEE","ME","IPE","CE","SWE")
r=t[-4:-1]
print("Range Item Negative->",r)

Range Item Negative-> ('ME', 'IPE', 'CE')

In [18]:
#Tuple item change by list:
t=("CSE","EEE","ME","IPE","CE","SWE")
l=list(t)
l[3]="TE"
t=tuple(l)
print("Tuple is->",t)

Tuple is-> ('CSE', 'EEE', 'ME', 'TE', 'CE', 'SWE')

In [19]:
#Tuple by loop:
t=("CSE","EEE","ME","IPE","CE","SWE")
for i in t:
  print(i)

CSE
EEE
ME
IPE
CE
SWE

In [23]:
#Check any item in tuple:

t=("CSE","EEE","ME","IPE","CE","SWE")
if "ME" in t:
  print("YES")
else:
  print("NO")

YES

In [24]:
#Tuple length item:
t=("CSE","EEE","ME","IPE","CE","SWE")
l=len(t)
print("Tuple Length->",l)

Tuple Length-> 6

In [25]:
#Join two tuple:
t1=("CSE","EEE","ME")
t2=(1,2,3)
t=t1+t2
print("Join tuple are->",t)

Join tuple are-> ('CSE', 'EEE', 'ME', 1, 2, 3)

In [26]:
#Tuple index accessing
T=(1,2,3,4,5,6,7)
print("Tuple->",T)
c=0
for i in T:
 print("T[%d] = %d"%(c,i))
 c=c+1

Tuple-> (1, 2, 3, 4, 5, 6, 7)
T[0] = 1
T[1] = 2
T[2] = 3
T[3] = 4
T[4] = 5
T[5] = 6
T[6] = 7

In [28]:
t=tuple(input("Enter the tuple element->"))
print("Tuple->",t)
c=0
for i in t:
 print("t[%d] = %s"%(c,i))
 c=c+1

Enter the tuple element->1,2,3,4,5
Tuple-> ('1', ',', '2', ',', '3', ',', '4', ',', '5')
t[0] = 1
t[1] = ,
t[2] = 2
t[3] = ,
t[4] = 3
t[5] = ,
t[6] = 4
t[7] = ,
t[8] = 5

In [29]:
#Tuple count()  method:
t=(1,2,3,4,5,6,7,7,6,4,3,2,2,2,2,2)
c=t.count(2)
print("total->",c)

total-> 6

In [30]:
#Tuple in reversed:
t = (1,2,3,4,5)
r = t[::-1]
print("Reversed tuple is->",r)

Reversed tuple is-> (5, 4, 3, 2, 1)

In [31]:
#Swap the following two tuples
t1=(1,2,3,4)
t2=("CSE","EEE","ME","TE")
print("After Swaping")
print(t1)
print(t2)

t1,t2 = t2,t1
print("Before Swaping")
print(t1)
print(t2)

After Swaping
(1, 2, 3, 4)
('CSE', 'EEE', 'ME', 'TE')
Before Swaping
('CSE', 'EEE', 'ME', 'TE')
(1, 2, 3, 4)

In [39]:
# #Using cmp(), max() , min()
# t1 = (1,2,3,4)
# t2 = (1,2,3,4)
# c=cmp(t1, t2)
# print('not same',c)